# Task 1: Data Exploration

**Task 1a**

In [74]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [75]:
live_df = pd.read_csv('live1.csv')

live_df.head()

          Area   Item Element  Year  Unit      Value
0  Afghanistan  Asses  Stocks  1961  Head  1300000.0
1  Afghanistan  Asses  Stocks  1962  Head   851850.0
2  Afghanistan  Asses  Stocks  1963  Head  1001112.0
3  Afghanistan  Asses  Stocks  1964  Head  1150000.0
4  Afghanistan  Asses  Stocks  1965  Head  1300000.0

In [76]:
live_df.describe()

                Year         Value
count  122458.000000  1.201940e+05
mean     1991.376439  1.035597e+07
std        17.260431  5.869386e+07
min      1961.000000  0.000000e+00
25%      1976.000000  5.300000e+03
50%      1992.000000  1.021735e+05
75%      2006.000000  1.561571e+06
max      2020.000000  1.525939e+09

In [77]:
live_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122458 entries, 0 to 122457
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Area     122458 non-null  object
 1   Item     122458 non-null  object
 2   Element  122458 non-null  object
 3   Year     122458 non-null  int64
 4   Unit     122458 non-null  object
 5   Value    120194 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.6+ MB

In [78]:
live_df.nunique()

Area         243
Item          14
Element        1
Year          60
Unit           3
Value      61412
dtype: int64

**Task 1b**

In [79]:
live_df.boxplot()

In [86]:
live_df = live_df.dropna()

In [87]:
live_df.isnull().sum()

Area       0
Item       0
Element    0
Year       0
Unit       0
Value      0
dtype: int64

# Task 2: Data Cleaning

Since we have few null-values and a lot of data, we remove all null-values.

In [88]:
without_duplicates = live_df.shape[0]
live_df.drop_duplicates(subset = None, keep = 'first', inplace = True)
without_duplicates = live_df.size()

duplicates = with_duplicates - without_duplicates
print(f"There were {duplicates} duplicates")

TypeError: 'int' object is not callable

In [ ]:

live_df.dropna()

,Area,Item,Element,Year,Unit,Value
0,Afghanistan,Asses,Stocks,1961,Head,1300000.0
1,Afghanistan,Asses,Stocks,1962,Head,851850.0
2,Afghanistan,Asses,Stocks,1963,Head,1001112.0
3,Afghanistan,Asses,Stocks,1964,Head,1150000.0
4,Afghanistan,Asses,Stocks,1965,Head,1300000.0
...,...,...,...,...,...,...
122453,Net Food Importing Developing Countries,Sheep,Stocks,2016,Head,364166482.0
122454,Net Food Importing Developing Countries,Sheep,Stocks,2017,Head,371357850.0
122455,Net Food Importing Developing Countries,Sheep,Stocks,2018,Head,377303293.0
122456,Net Food Importing Developing Countries,Sheep,Stocks,2019,Head,397970957.0
122457,Net Food Importing Developing Countries,Sheep,Stocks,2020,Head,406555086.0

In [ ]:
live_df.isna().sum()

Area          0
Item          0
Element       0
Year          0
Unit          0
Value      2264
dtype: int64

In [ ]:
with_Nan = live_df.shape[0]
live_df.dropna()
without_Nan = live_df.shape[0]

Nans = with_Nan - without_duplicates
print(f"There were {Nans} Nan-values")

There were 0 Nan-values